@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Bebas+Neue&family=Courgette&family=Dongle&family=IBM+Plex+Sans+Thai+Looped&family=Poppins:wght@300;400;700&family=Source+Code+Pro&family=Zen+Kurenaido&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* neutrals */
  --black: black;
  --white: rgb(255, 255, 255);
  --medium-gray: rgb(70, 70, 70);
  --light-gray: rgb(201, 201, 201);

  /* yellows */
  --yellow: rgb(255, 255, 0);

  /* blues */
  --navy-blue: rgb(25, 85, 134);
  --slate-blue: rgb(23, 40, 53);
  --full-blue: rgba(127, 223, 252);
  --medium-blue: rgba(127, 223, 252, 0.5);
  --light-blue: rgba(127, 223, 252, 0.1);

  /* shadow */
  --dark-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.75);
  --light-shadow: 0 1px 2px 2px rgba(105, 105, 105, 0.3);

  /* transition */
  --theme-transition: background-color 0.4s ease-in-out, color 0.8s ease-in-out;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--body-color);
}

body {
  /* body */
  --background-color: var(--white);

  /* titles, headers, text */
  --title-text: var(--black);
  --subtitle-text: var(--medium-gray);
  --index-text: var(--navy-blue);
  --description-text: var(--black);
  --accent-text: var(--black);
  --footer-text: var(--black);
  --link-hover: var(--full-blue);

  /* grid buttons and text */
  --grid-btn-text: var(--navy-blue);
  --row-one-color: var(--light-blue);
  --row-two-color: var(--medium-blue);
  --row-three-color: var(--full-blue);
  --grid-btn-border-color: var(--navy-blue);

  /* navigation buttons */
  --show-random-btn-text: var(--white);
  --show-random-btn-color: var(--navy-blue);
  --index-btn-text: var(--navy-blue);
  --index-btn-color: var(--white);
  --take-me-there-btn-text: var(--white);
  --take-me-there-btn-color: var(--navy-blue);
  --clear-btn-text: var(--navy-blue);
  --clear-btn-color: var(--white);
  --home-btn-text: var(--navy-blue);
  --home-btn-color: var(--white);
  --btn-border-color: var(--navy-blue);

  --random-activity-btn-color: var(--navy-blue);

  /* card */
  --box-shadow: var(--black-shadow);
}

header {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Pangolin";
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--title-text);
  transition: var(--theme-transition);
}

.subtitle {
  font-family: "Courgette";
  font-size: 1.5rem;
  color: var(--subtitle-text);
  transition: var(--theme-transition);
}

.category-title {
  font-family: "Bebas Neue";
  text-transform: uppercase;
  color: var(--title-text);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: var(--theme-transition);
}

.options-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--theme-transition);
}

.options-header {
  font-family: "Poppins";
  color: var(--title-text);
  font-size: 1.15rem;
  transition: var(--theme-transition);
}

.select-options-container {
  margin-top: 1rem;
  transition: var(--theme-transition);
}

.options-grid {
  /* border: 0.5px solid rgb(70, 70, 70); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
  width: 500px;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  transition: var(--theme-transition);
}

.options-btn {
  color: var(--navy-blue);
  height: 50px;
  width: 30%;
  font-family: sans-serif;
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: bolder;
  border-color: var(--navy-blue);
  background-color: var(--light-blue);
  transition: var(--theme-transition);
}

.specific-activity-title {
  font-family: "Poppins";
  color: var(--black);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.idea-wrapper {
  border: 2px solid white;
  width: 75%;
}

.image {
  max-height: 400px;
  width: 100%;
}

.description-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.description {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Poppins";
  font-size: 1.1rem;
  color: white;
  font-weight: none;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.random-activity-btn {
  margin-top: 1rem;
  font-family: "Zen Kurenaido";
  font-size: 1.05rem;
  color: white;
  /* background-color: #172835; */
  background-color: var(--random-activity-btn-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  cursor: pointer;
}

.next-activity-btn {
  margin-top: 1rem;
  font-family: "Zen Kurenaido";
  font-size: 1.05rem;
  color: var(--navy-blue);
  /* background-color: #172835; */
  background-color: white;
  border-color: var(--navy-blue);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  cursor: pointer;
}

.footer-container {
  border-top: 1px solid black;
  margin-top: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  font-size: 0.8rem;
}

.footer-link {
  margin-left: 0.4rem;
  text-decoration: none;
  color: rgb(255, 66, 66);
}
